@import "tailwindcss";
@import "tw-animate-css";

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
.animate-marquee-reverse {
  animation: marquee 20s linear infinite reverse;
}
.animate-marquee-vertical {
  animation: marquee-vertical 20s linear infinite;
}